/.quarto/
/_site/
.Rproj.user
.Rhistory
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/ad_leg-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/area_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/box_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/buffering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/centroids-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/compare-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distribution-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/filter_pop-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/gt_or-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/hf_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/histogram-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_clustering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_dist-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/localmr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/m2-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/mapping_features-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-2.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_mc-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_point-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_raster-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/print-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/raster_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/rsample-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap_split-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/viridis-1.png
site_libs/clipboard-0.0.1/setClipboardText.js
site_libs/clipboard/clipboard.min.js
site_libs/HomeButton-0.0.1/easy-button-src.min.js
site_libs/HomeButton-0.0.1/glyphicons-21-home.png
site_libs/HomeButton-0.0.1/home-button.css
site_libs/HomeButton-0.0.1/home-button.js
site_libs/HomeButton-0.0.1/LICENSE
site_libs/htmltools-fill-0.5.8.1/fill.css
site_libs/htmlwidgets-1.6.4/htmlwidgets.js
site_libs/jquery-3.6.0/jquery-3.6.0.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.map
site_libs/leaflet-1.3.1/images/layers-2x.png
site_libs/leaflet-1.3.1/images/layers.png
site_libs/leaflet-1.3.1/images/marker-icon-2x.png
site_libs/leaflet-1.3.1/images/marker-icon.png
site_libs/leaflet-1.3.1/images/marker-shadow.png
site_libs/leaflet-1.3.1/leaflet.css
site_libs/leaflet-1.3.1/leaflet.js
site_libs/leaflet-binding-2.2.2/leaflet.js
site_libs/leaflet-providers-2.0.0/leaflet-providers_2.0.0.js
site_libs/leaflet-providers-plugin-2.2.2/leaflet-providers-plugin.js
site_libs/Leaflet.Sync-0.0.5/bower.json
site_libs/Leaflet.Sync-0.0.5/L.Map.Sync.js
site_libs/Leaflet.Sync-0.0.5/LICENSE
site_libs/leafletfix-1.0.0/leafletfix.css
site_libs/mapviewCSS-0.0.1/mapview-popup.css
site_libs/mapviewCSS-0.0.1/mapview.css
site_libs/proj4-2.6.2/proj4.min.js
site_libs/Proj4Leaflet-1.0.1/proj4leaflet.js
site_libs/quarto-listing/list.min.js
site_libs/quarto-listing/quarto-listing.js
site_libs/rstudio_leaflet-1.3.1/images/1px.png
site_libs/rstudio_leaflet-1.3.1/rstudio_leaflet.css
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/ad_leg-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/area_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/box_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/buffering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/centroids-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/compare-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distribution-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/filter_pop-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/gt_or-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/hf_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/histogram-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_clustering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_dist-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/localmr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/m2-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/mapping_features-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-2.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_mc-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_point-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_raster-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/print-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/raster_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/rsample-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap_split-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/viridis-1.png
site_libs/clipboard-0.0.1/setClipboardText.js
site_libs/clipboard/clipboard.min.js
site_libs/HomeButton-0.0.1/easy-button-src.min.js
site_libs/HomeButton-0.0.1/glyphicons-21-home.png
site_libs/HomeButton-0.0.1/home-button.css
site_libs/HomeButton-0.0.1/home-button.js
site_libs/HomeButton-0.0.1/LICENSE
site_libs/htmltools-fill-0.5.8.1/fill.css
site_libs/htmlwidgets-1.6.4/htmlwidgets.js
site_libs/jquery-3.6.0/jquery-3.6.0.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.map
site_libs/leaflet-1.3.1/images/layers-2x.png
site_libs/leaflet-1.3.1/images/layers.png
site_libs/leaflet-1.3.1/images/marker-icon-2x.png
site_libs/leaflet-1.3.1/images/marker-icon.png
site_libs/leaflet-1.3.1/images/marker-shadow.png
site_libs/leaflet-1.3.1/leaflet.css
site_libs/leaflet-1.3.1/leaflet.js
site_libs/leaflet-binding-2.2.2/leaflet.js
site_libs/leaflet-providers-2.0.0/leaflet-providers_2.0.0.js
site_libs/leaflet-providers-plugin-2.2.2/leaflet-providers-plugin.js
site_libs/Leaflet.Sync-0.0.5/bower.json
site_libs/Leaflet.Sync-0.0.5/L.Map.Sync.js
site_libs/Leaflet.Sync-0.0.5/LICENSE
site_libs/leafletfix-1.0.0/leafletfix.css
site_libs/mapviewCSS-0.0.1/mapview-popup.css
site_libs/mapviewCSS-0.0.1/mapview.css
site_libs/proj4-2.6.2/proj4.min.js
site_libs/Proj4Leaflet-1.0.1/proj4leaflet.js
site_libs/quarto-listing/list.min.js
site_libs/quarto-listing/quarto-listing.js
site_libs/rstudio_leaflet-1.3.1/images/1px.png
site_libs/rstudio_leaflet-1.3.1/rstudio_leaflet.css
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/ad_leg-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/area_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/box_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/buffering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/centroids-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/compare-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/distribution-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/filter_pop-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/gt_or-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/hf_map-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/histogram-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_clustering-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/local_dist-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/localmr-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/m2-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/mapping_features-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/nb_plot-2.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_mc-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_point-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/plot_raster-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/print-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/raster_plot-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/rsample-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/tmap_split-1.png
posts/2024-08-25-Spatial-analysis-in-R/index_files/figure-html/viridis-1.png
site_libs/clipboard-0.0.1/setClipboardText.js
site_libs/clipboard/clipboard.min.js
site_libs/HomeButton-0.0.1/easy-button-src.min.js
site_libs/HomeButton-0.0.1/glyphicons-21-home.png
site_libs/HomeButton-0.0.1/home-button.css
site_libs/HomeButton-0.0.1/home-button.js
site_libs/HomeButton-0.0.1/LICENSE
site_libs/htmltools-fill-0.5.8.1/fill.css
site_libs/htmlwidgets-1.6.4/htmlwidgets.js
site_libs/jquery-3.6.0/jquery-3.6.0.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.js
site_libs/jquery-3.6.0/jquery-3.6.0.min.map
site_libs/leaflet-1.3.1/images/layers-2x.png
site_libs/leaflet-1.3.1/images/layers.png
site_libs/leaflet-1.3.1/images/marker-icon-2x.png
site_libs/leaflet-1.3.1/images/marker-icon.png
site_libs/leaflet-1.3.1/images/marker-shadow.png
site_libs/leaflet-1.3.1/leaflet.css
site_libs/leaflet-1.3.1/leaflet.js
site_libs/leaflet-binding-2.2.2/leaflet.js
site_libs/leaflet-providers-2.0.0/leaflet-providers_2.0.0.js
site_libs/leaflet-providers-plugin-2.2.2/leaflet-providers-plugin.js
site_libs/Leaflet.Sync-0.0.5/bower.json
site_libs/Leaflet.Sync-0.0.5/L.Map.Sync.js
site_libs/Leaflet.Sync-0.0.5/LICENSE
site_libs/leafletfix-1.0.0/leafletfix.css
site_libs/mapviewCSS-0.0.1/mapview-popup.css
site_libs/mapviewCSS-0.0.1/mapview.css
site_libs/proj4-2.6.2/proj4.min.js
site_libs/Proj4Leaflet-1.0.1/proj4leaflet.js
site_libs/quarto-listing/list.min.js
site_libs/quarto-listing/quarto-listing.js
site_libs/rstudio_leaflet-1.3.1/images/1px.png
site_libs/rstudio_leaflet-1.3.1/rstudio_leaflet.css
